{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2><a href="{% url 'book' book.pub_date %}">{{ book.name }}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d"}}</p>
            </div>
        </div>
        <br>
         {% if not prev is None %}
            <a class="button button-primary" href="http://127.0.0.1:8000/books/{{ prev|date:"Y-m-d" }}">< {{ prev|date:"Y-m-d" }}</a>
        {% endif %}
            <a> </a>
        {% if not next is None %}
            <a class="button button-primary" href="http://127.0.0.1:8000/books/{{ next|date:"Y-m-d" }}">{{ next|date:"Y-m-d" }} ></a>
        {% endif %}
    </div>
{% endblock %}